<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sign in</title>
</head>

<body>
    <h1>Login</h1>
    <form id="log-form">
        <label for="useremail">Email: </label>
        <input type="email" autocomplete="off" id="useremail" placeholder="Useremail">
        <br>
        <label for="password"> Password: </label>
        <input type="password" autocomplete="off" id="password" placeholder="Password" />
        <br>


        <input type="submit" value="Login">
    </form>

    <script>
        const form = document.getElementById('log-form')
        if (form != null) form.addEventListener('submit', loginUser)

        async function loginUser(event) {
            event.preventDefault()

            const password = document.getElementById('password').value
            const useremail = document.getElementById('useremail').value



            const result = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    useremail,
                    password

                })
            }).then((res) => res.json())
            if (result.error) console.log(result.error)
            console.log(result.status)

            if (result.status == 'ok') {
                console.log(result.data)
            }


        }
    </script>


</body>

</html>